# Ignore executables
CRTS_CR
CRTS_controller
CRTS_interferer
config_CEs
config_SCs

# Ignore VIM swap files
*.swp
*.swo
*.swn

# Ignore system output files
*.SYSOUT

# Ignore archives
*.tar.gz

# Ignore data files
*.dat
