# Ignore executables
crts_cognitive_radio
crts_controller
crts_interferer
config_cognitive_engines
config_scenario_controllers

# Ignore VIM swap files
*.swp
*.swo

# Ignore system output files
*.SYSOUT


